.container{
    width: 80%;
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
/* ヘッダー*/
header {
    padding: 27px 0;
}
.logo {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.04em;
}
.logo span {
    color: rgb(174, 15, 15)
}
.header_menu a {
margin-left: 40px;
}
.header_menu a {
    transition: .5s;
}

.header_menu a:hover {
    color: rgb(174, 15, 15)
}


 /*メイン*/
 #hero {
    background-image: url(https://github.com/Oniku11290/body-training/blob/main/unnamed.jpg?raw=true);
    background-position: center;
    background-size: cover;
    height: 540px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 90px;
    overflow: hidden;
 }
 #hero::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .2;
    z-index: 1;
 }
 .hero_inner {
    z-index: 2;
    color: #ffff;
    width: 100%;
    text-align: center;
 }
 .hero_inner p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
 }
 .hero_inner h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
 }

 /*コンセプト*/
 #concept {
    margin-bottom: 120px;
 }
 .title {
    font-size: 20px;
    font-weight: 500px;
    color: rgb(174, 15, 15);
    margin-bottom: 10px;
 }
 #concept h3 {
    font-size: 36px;
    font-weight: 100px;
    margin-bottom: 30px;
 }
 .column-2 {
    width: 48%;
 }
 .text {
    line-height: 2;
 }
 .concept-img {
    background-image: url(https://github.com/Oniku11290/body-training/blob/main/concept.jpg?raw=true);
    background-position: center;
    background-size: cover;
    height: 450px;
    border-radius: 30px;
 }
 .heading {
    font-size: 100px;
    font-weight: 700px;
    color: rgb(174, 15, 15);
    opacity: .1;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-15%);
 }

 /*サービス*/
 #service {
   margin-bottom: 120px;
 }
 .service_inner {
   margin-bottom: 40px;
 }
 .column-40 {
   width: 40%;
 }
 .column-55 {
   width: 55%;
 }
 #service img {
   border-radius: 20px;
 }
 #service h3 {
   font-size: 24px;
   font-weight: 700px;
   margin-bottom: 24px;
 }
